<h1>Team Members</h1>
<ol>
  <% @users.each do |user| %>
    <li>
      <p><%= link_to user.name, user_path(user.team.id, user) %> (<%= user.position.name %>) | <%= link_to 'Destroy', user_path(user.team.id, user), method: :delete, data: { confirm: 'Are you sure?' } %></p>
    </li>
  <% end %>
</ol>
<%= link_to 'New Member', new_user_path %>
