<h1><%= @project.name %></h1>
<h3>Deadline: <%= @project.deadline %></h3>
<p>Completed: <%= check_box_tag :completed, 'completed', @project.completed %></p>
<%= link_to "Edit Project", edit_project_path(@project) %>
